<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turnos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css">

</head>

<body>
    <header class="header">
            <a class="header__logo" asp-controller="Home" asp-action="Index">Sistema Turnos</a>
            <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle"></ion-icon>
            <nav class="nav__header" id="nav-menu">
                <div class="nav__content bd-grid">
                    <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>
                    <div class="nav__perfil">
                        <div>
                            <a class="nav__name" style="color:white;">Sistema Turnos</a>
                        </div>
                    </div>
    
                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a class="nav__link active" style="color:white;" asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li class="nav__item"><a class="nav__link" style="color:white;" asp-controller="Especialidad" asp-action="Index">Especialidad</a></li>
                            <li class="nav__item"><a class="nav__link" style="color:white;" asp-controller="Paciente" asp-action="Index">Paciente</a></li>
                            <li class="nav__item"><a class="nav__link" style="color:white;" asp-controller="Medico" asp-action="Index">Medico</a></li>
                            <li class="nav__item"><a class="nav__link" style="color:white;">Reportes</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
   
    <div class="container" style="margin:0 auto; margin-top: 7rem">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Sistema Turnos - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
