@model turnos.Models.Especialidad

<h3>¿Estas seguro de eliminar el siguiente registro?</h3>

<div>
    <table class=" table table-striped table-bordered">
        <thead class="bg-danger text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(modelo => modelo.Descripcion)
                </th>
            </tr>
        </thead>
        <tbody>
            <td>
                @Html.DisplayFor(modelo => modelo.Descripcion)
            </td>
        </tbody>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEspecialidad">
        <button type="submit" class="btn btn-danger ">Eliminar</button>
    </form>
    <div class="mt-2">
        <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left mr-2"></i>Volver</a>
    </div>
</div>