@model turnos.Models.Especialidad

<h3>Editar Especialidad</h3>

<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="IdEspecialidad">
            <div class="form-group">
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion" class="form-control">
                <span asp-validation-for ="Descripcion"></span>
            </div>
        <div>
            <button type="submit" class="btn btn-primary ">Guardar<i class="fas fa-save ml-2"></i></button>
        </div>
    </form>
</div>

<div class="mt-2">
    <a  class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left mr-2"></i>Volver</a>
</div>