@model IEnumerable<turnos.Models.Especialidad>

<p>
    <a asp-action="Create">Nueva Especialidad</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @*comentario*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEspecialidad">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
