@{
    ViewData["Title"] = "Home Page";
}

<div class="header2">

</div>
<div class="row1-container">
    

    <div class="box box-down  red">
        <h2>Especialidades</h2>
        <p>Aqui podras dar de alta nuevas Especialidades, modificarlas y eliminarlas, A la espera de ser asignadas a un medico.</p>
        <a asp-controller ="Especialidad" asp-action="Create"><i class="fas fa-plus-circle icon-circle"></i></a>
        <img src="https://i.imgur.com/aT92Dwi.png" alt="">
    </div>

    <div class="box cyan">
        <h2>Turnos</h2>
        <p>Aqui podras admistrar los turnos de cada paciente con su respectivo doctor asignado.</p>
        <a asp-controller ="Turno" asp-action="Create" ><i class="fas fa-plus-circle icon-circle"></i></a>
        <img src="https://i.imgur.com/chW6FNa.png" alt="">
    </div>

    <div class="box box-down blue">
        <h2>Medico</h2>
        <p>Aqui podras dar de alta nuevos Medicos, modificar sus datos, y relacionarlos con su especialidad.</p>
        <a asp-controller ="Medico" asp-action="Create"><i class="fas fa-plus-circle icon-circle"></i></a>
        <img src="https://i.imgur.com/XfdTpei.png" alt="">
    </div>
</div>
<div class="row2-container">
    <div class="box orange">
        <h2>Paciente</h2>
        <p>Aqui podras dar de alta nuevos Pacientes, modificar sus datos o borrarlos de la base de datos.</p>
        <a asp-controller ="Paciente" asp-action="Create"><i class="fas fa-plus-circle icon-circle"></i></a>
        <img src="https://i.imgur.com/y3iGsy7.png" alt="">
    </div>
</div>
