<!DOCTYPE html>
<html>
 <head>
     <title>Especialidades</title>
 </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @*comentario*@
                <tr>
                    <td>
                        Traumatologo
                    </td>
                </tr>
                <tr>
                    <td>
                        Cardiologo
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>